*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("images/bg-intro-desktop.png");
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media only screen and (min-width:768px){
.vertical{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
}

.btn{
    background-color:  hsl(248, 32%, 49%) ;
    color:white;
    border: none;
}
.btn:hover,.btn:focus{
    background-color:  hsl(248, 32%, 49%);
    opacity: 90%;
}


.right-col{
    position: relative;
}

.sub-container{
    background-color: white;
    padding:30px !important;
    color:hsl(246, 25%, 77%) ;
}

.form-controls{
    width:100%;
    border-radius: 10px;
    border:none;
}

.shadows{     
     box-shadow:0 7px rgb(218,103,104); 
}

.bottom{
    background-color: hsl(154, 59%, 51%);
    color:white;
}

.bottom:hover,.bottom:focus{
    background-color: hsl(154, 59%, 51%);
    opacity:80%;
    color:white;
}

.terms{
    color:hsl(0, 100%, 74%) ;
    font-weight: bold;
}
.form-footer{
    font-size: 12px;
    text-align: center;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: url("images/icon-error.svg") ;
}

@media only screen and (max-width:768px){
    *{
        text-align: center;
    }
    .container{
        padding:70px 28px;
    }
    .form-control{
        text-align: left;
    }
    .bottom{
        text-align: center;
    }
}